.img_arrow_right {
  width: 40px;
  display:inline;
  padding: 0px 2px;
  position:absolute;
  right:0px;
}

.textL {
	position:relative; 
	left:0px;
	float: left;
	padding:10px 0px;
}

.form_welcome {
  height: 400px;
  background-image: url(img/img_form_welcome01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form_welcome_title {
  font-size:3rem;
  color:#404041;
  text-align: center;
  letter-spacing: 0.05rem;
  line-height: 1.5em;
  margin:10px 0px;
}

.form_welcome_text {
  font-size:1rem;
  letter-spacing: 0.02rem;
  text-align: center; 
  word-break: keep-all;
}

.form_welcome_button {
  height:70px;
  border-top:1px solid #ccc;
  margin-top:40px;
  position: relative;
  text-align: center;
}

.form_bt01 {
  padding:8px 20px;
  border:1.5px solid #ff6c00;
  position: relative;
  display: inline-block;
  margin-top:20px;
  color:#FF6C00;
  font-size:0.9rem;
  font-weight:400;
  border-radius: 4px;
  transition: all 0.2s ease;
  cursor: pointer;
  box-shadow: rgba(0,0,0,0.1) 0px 2px 10px 0px;
}
.form_bt01:hover {
  text-decoration: none;
  color:#ff6c00;
  background: #F5F3F9;
  transition: all 0.2s ease;
}
.form_bt01:hover .iconStart{
  -webkit-animation: spin 0.3s;
  animation: spin 0.3s;
}

.formSelect {
    display: none;
    position: absolute;
    top: 48px;
    left: 0px;
    width: 54px;
    padding: 10px 0px 0px 0px;
    height: 70px;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    z-index: 1000;
    border-radius: 0px 0px 5px 5px;
    overflow-y: auto;
    font-size:0.9rem;
  font-weight:300;

}

.formRequire {
    display: none;
    position: absolute;
    top: 48px;
    left: 4vw;
    width: 70px;
    padding: 10px 0px 0px 0px;
    height: 70px;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    z-index: 1000;
    border-radius: 0px 0px 5px 5px;
    overflow-y: auto;
    font-size:0.9rem;
  font-weight:300;

}

.form_quiz {
  font-size: 1.4rem;
  font-weight: 400;
  color: #353535;
}

.form_frame {
  width:96%;
  margin:0px auto;
}

.form_item {
  font-size: 1rem;
  color: #606060;
  font-weight:300;
  padding:10px 0px 24px 24px;
  
}

input[type=radio].tmot_checkbox {
  margin:8px 8px 8px 4px;
  border:1px solid black;
  
}